# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables and secrets
.env

# macOS and Windows system files
.DS_Store
Thumbs.db
